html, body{
  font-family: "Open Sans", serif;
  background-color:#333;
  margin:0;
  height:100%;
  width:100%;
  scroll-behavior: smooth;
  font-size: 18px;
  font-weight: 300;
}
.cards{
  gap:10px;
  text-indent: 10px;
  flex-wrap: wrap;
  border-radius: 1em;
  width: 200px;
  color: white;
}

.flex-wrap{
  flex-wrap: wrap;
}


.songTitle{
  font-size: 18px;
  margin: 5px;
}

.songArtist{
  font-size: .9em;
  margin: 5px;
}
.cardsContainer{
  gap:10px;
}

.frame{
  border: none;
}

.thumb{
  border-radius: 1em;
  height:200px;
  width:200px;
}

.searchBar{
  background-color: rgba(255, 255, 255, 0.1);
  width:100%;
  position:sticky;
  padding:1em;
}
.flex{
  display:flex;
  padding:1em;
}

.searchBar input[type='text']{
  border:none;
  border-radius:2em;
  padding:1em;
  font-size: 18px;
  font-weight:300;
  font-family: "JetBrains Mono", serif;
}

.fixed{
  position:fixed;
}

.ql-toolbar{
  background-color: #ecf0f1;
}
.quill{
  margin: 10px;
}
.ql-editor{
  font-family: "JetBrains Mono", serif;
  background-color: #fff;
  font-size: 18px;
  font-weight:300;
}

#root{
  height: 100%;
}

.backButton{
  z-index: 2;
  position:fixed;
  top:20px;
  left:20px;
}

.editor{

  height:calc(100% - 50px);
  width:60%;
}


button{
  border-radius: 3em;
  border-width: 0;
  background-color: white;
  padding:2em;
}

.bottom{
  position: fixed;
}

.flex-direction-down{
  flex-direction: column;
}

.input input[type='text']{
  height: 90%;
  border-radius: 3em;
  border-width: 0;
  width:100%;
  background-color: white;
  padding:2em;
  margin:1em;
}

#title{
  box-sizing: border-box;
  width:60%;
  background-color: white;
  padding:10px;
  border: 0 solid #fff;
  margin-top:10px;
  font-size: 18px;
  font-weight:300;
  font-family: "JetBrains Mono", serif;
}
input[type='text']:focus{
  outline: none;
}

.flexContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 50px);
}

.input{
  position: fixed;
  bottom: 20px;
  width: 90%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
}
.center{
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.spinner{
  height:10em;
  width:10em;
  animation: spin 1s infinite ease-in-out;
}

.chatContainer{
  position:fixed;
  top:20px;
  height:calc(100% - 9em);
  width:90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Lisa{
  width:60%;
  background-color: wheat;
  border-radius: 2em 1em;
  padding: 2em 3em;
  margin:1em;
  box-shadow: -1em 1em 0 rgba(0,0,0,0.2);
}

.User{
  align-self: end;
  width:60%;
  background-color: wheat;
  border-radius: 1em 2em;
  padding: 2em 3em;
  margin:1em;
  box-shadow: -1em 1em 0 rgba(0,0,0,0.2);
}

@media screen and (min-width:600px){
  input[type='text']{
    width:50%;
  }

  .Lisa{
    width: 20%;
  }
  .User{
    width:20%;
  }
}

::-webkit-scrollbar{
  display: none;
}

.startButton{
  z-index: 1;
}

.videoPlayer{
  box-sizing: border-box;
  display:flex;
  border-radius: 2em;
  padding:2em;
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  bottom:20px;
  width:calc(100% - 40px);
  left: 20px;
}